<div>
  <h3>
    <a class="main-link name" [href]="document.dataURL ? document.dataURL : document.portalURL" target="_blank">
      {{ document.name }}
    </a>
    <small> - {{ document.pillarName }}</small>
  </h3>
  <div>
    <span class="mr-4">
      <a class="datasource-link" [href]="document.portalURL" target="_blank">{{ document.databaseSource }}</a>
    </span>
    <span class="taxon mr-4">
      <span *ngFor="let taxon of document.taxon" class="badge badge-secondary mr-2">{{ taxon }}</span>
    </span>
    <span class="type">
      {{ document.materialType?.join(', ') }}
    </span>
  </div>
  <div>
    <dd-truncatable-description [description]="document.description"></dd-truncatable-description>
  </div>
</div>
