<div>
  <h3 class="d-flex">
    <div class="flex-grow-1">
      <a
        class="main-link name"
        [href]="document.dataURL ? document.dataURL : document.portalURL"
        target="_blank"
      >
        {{ document.name }}
      </a>
      <small> - {{ document.pillarName }}</small
      >&ngsp;
    </div>
    <div *ngIf="isBasketEnabled && document.accessionHolder">
      <button
        *ngIf="!selectedForOrdering"
        type="button"
        class="btn btn-sm btn-outline-dark"
        (click)="addToBasket()"
        [ngbTooltip]="'rare-document.add-to-basket' | translate"
        container="body"
      >
        <span class="fa fa-fw fa-shopping-basket"></span>&ngsp;
        <span class="fa fa-fw fa-plus"></span>
      </button>
      <button
        *ngIf="selectedForOrdering"
        type="button"
        class="btn btn-sm btn-success"
        (click)="removeFromBasket()"
        [ngbTooltip]="'rare-document.remove-from-basket' | translate"
        container="body"
      >
        <span class="fa fa-fw fa-shopping-basket"></span>&ngsp;
        <span class="fa fa-fw fa-check"></span>
      </button>
    </div>
  </h3>
  <div>
    <span class="mr-4">
      <a class="datasource-link" [href]="document.portalURL" target="_blank">{{
        document.databaseSource
      }}</a>
    </span>
    <span class="taxon mr-4">
      <span *ngFor="let taxon of document.taxon" class="badge badge-secondary mr-2">{{
        taxon
      }}</span>
    </span>
    <span class="type">
      {{ document.materialType?.join(', ') }}
    </span>
  </div>
  <div>
    <dd-truncatable-description [description]="document.description"></dd-truncatable-description>
  </div>
</div>
