.content {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: stretch;
}

.tree-section {
  position: sticky;
  top: 0.5rem;
  max-height: calc(100vh - 150px);
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.tree {
  overflow: auto;
  flex-grow: 1;
}

.details-section {
  flex-basis: 50%;
  flex-grow: 1;
}
