@use "sass:color";
@import 'theme';

// override default table

::ng-deep table {
  margin-bottom: 0.5rem;
}

::ng-deep th,
::ng-deep td {
  padding: $table-cell-padding-y $table-cell-padding-x;
  border: 1px solid $_theme-primary-color;
}

::ng-deep thead th {
  background-color: color.adjust($_theme-primary-color, $lightness: 50%);
  border-bottom: 2px solid $_theme-primary-color;
}
