@import 'theme';

.badge-ONTOLOGY {
  color: $white;
  background-color: $gray-800;
}

.badge-TRAIT_CLASS {
  color: $white;
  background-color: $primary;
}

.badge-TRAIT_NAME {
  color: $white;
  background-color: $info;
}

.badge-VARIABLE {
  color: $white;
  background-color: $success;
}
