<div class="row">
  <div class="col-md-8 col-lg-9 order-md-last">
    <!-- the header is specific to each application -->
    <!-- for example, if the application is RARe, the component will be a RareHeaderComponent -->
    <dd-header></dd-header>
    <div class="pt-md-5">
      <h2 class="sr-only">Search for resources</h2>

      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <label class="sr-only" for="query">Search</label>
        <div class="input-group">
          <input id="query"
                 class="form-control form-control-lg"
                 placeholder="Examples: yield, fhb"
                 formControlName="search"
                 [ngbTypeahead]="suggesterTypeahead"
                 [focusFirst]="false">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 order-md-first mt-5 mt-md-0">
    <h2 class="sr-only">Pillars</h2>
    <div class="d-flex justify-content-center">
      <div>
        <!--
        <img src="assets/logo.png" alt="Logo" class="mb-2 mb-md-4"/>
        -->
        <dd-pillars></dd-pillars>
      </div>
    </div>
  </div>
</div>
