<ng-template #payloadTemplate let-node="node">
  {{ node.text }}
  <span class="badge" [ngClass]="'badge-' + node.payload.type">{{ node.payload.type }}</span>
</ng-template>
<div style="margin-bottom: 1000px">
  <div class="row" *ngIf="tree$ | async as tree">
    <div class="col" style="overflow-y: hidden">
      <div class="form-group">
        <label class="sr-only" for="tree-filter">Filter</label>
        <input
          [formControl]="treeFilterCtrl"
          id="tree-filter"
          class="form-control"
          placeholder="Filter"
          type="search"
        />
      </div>

      <div class="border rounded p-1" style="max-height: 60vh; overflow-x: auto">
        <dd-tree
          [filter]="debouncedFilterValue$ | async"
          [rootNodes]="tree"
          [payloadTemplate]="payloadTemplate"
          (highlightedNode)="highlightNode($event)"
          (selectedNodes)="selectedNodes = $event"
        ></dd-tree>
      </div>
    </div>
    <div class="col" style="overflow-x: hidden">
      <h2>Highlighted node</h2>
      <pre style="overflow-x: auto">{{ highlightedNodeDetails$ | async | json }}</pre>
      <h2>Selected nodes</h2>
      <pre>{{ selectedNodes | json }}</pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-lg-9 order-md-last">
    <!-- the header is specific to each application -->
    <!-- for example, if the application is RARe, the component will be a RareHeaderComponent -->
    <dd-header></dd-header>
    <div class="pt-md-5">
      <h2 class="sr-only" translate="home.title"></h2>

      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <label class="sr-only" for="query" translate="home.search"></label>
        <div class="input-group">
          <input
            id="query"
            class="form-control form-control-lg"
            [placeholder]="appName + '.search.placeholder' | translate"
            formControlName="search"
            [ngbTypeahead]="suggesterTypeahead"
            [focusFirst]="false"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" translate="home.search"></button>
          </div>
        </div>

        <div *ngIf="exampleQueries.length" class="my-4 example-queries">
          <h3 translate="home.example-queries"></h3>
          <ul>
            <li *ngFor="let exampleQuery of exampleQueries">
              <a routerLink="/search" [queryParams]="{ query: exampleQuery }">{{ exampleQuery }}</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 order-md-first mt-5 mt-md-0">
    <div *ngIf="!showAggregations">
      <h2 class="sr-only" translate="home.pillars"></h2>
      <dd-pillars></dd-pillars>
    </div>

    <div *ngIf="showAggregations">
      <h2 class="sr-only" translate="search.filters">Filters</h2>
      <dd-aggregations
        *ngIf="mainAggregations$ | async as mainAggregations"
        [aggregations]="mainAggregations"
        (aggregationsChange)="aggregationsChanged($event)"
      ></dd-aggregations>
    </div>
  </div>
</div>
