@import 'leaflet/dist/leaflet.css';
@import 'theme';

@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

.document-marker {
  width: auto !important;
  height: auto !important;
  min-width: 1.2rem;
  text-align: center;
  border-color: $dark !important;
  background-color: $dark !important;
  color: $white;
}
