<div class="form-check form-switch">
  <input
    #checkbox
    type="checkbox"
    class="form-check-input"
    id="descendants-checkbox"
    (change)="onDescendantsChecked(checkbox.checked)"
    [checked]="searchDescendants()"
  />
  <label
    class="form-check-label"
    for="descendants-checkbox"
    translate="descendants-checkbox.expand-search"
  ></label>
  <span
    class="ms-1 fa fa-question-circle-o icon-size"
    aria-hidden="true"
    [ngbTooltip]="'descendants-checkbox.tooltip' | translate"
    placement="top"
  ></span>
</div>
