h3 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.btn-inline {
  border-top: 0 !important;
  border-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  vertical-align: baseline;
}
