@import 'theme';

.basket-counter {
  color: $theme-navbar-color;
}

.delete-btn {
  border: 1px solid transparent;
  &:hover {
    border: 1px solid $danger;
  }
  &:disabled {
    border: 1px solid transparent;
  }
}

.confirm-forbidden {
  animation: shake 300ms ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  50%,
  90% {
    transform: translateX(0.5rem);
  }
  30%,
  70% {
    transform: translateX(-0.5rem);
  }
}

.table-sticky {
  width: 100%;
  margin-bottom: 0;
}

.table-sticky thead th {
  position: sticky;
  top: 0;
  background-color: white;
  border-top-width: 0;
  z-index: 1; // otherwise it doesn't hide table cells that have an opacity
}
