@if (pillars(); as pillars) {
  @if (pillars.length > 0) {
    <h4 class="data-provider" translate="pillars.data-providers"></h4>
    <ul class="list-unstyled pillar">
      @for (pillar of pillars; track pillar) {
        <li>
          <span class="pillar-name">{{ pillar.name }}</span>
          <ul class="list-unstyled source">
            @for (databaseSource of pillar.databaseSources; track databaseSource) {
              <li>
                <dd-document-count
                  [name]="databaseSource.name"
                  [url]="databaseSource.url"
                  [count]="databaseSource.documentCount"
                />
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  } @else {
    <div class="alert alert-warning" role="alert">
      <div class="text-center" style="font-size: 6em"><span class="fa fa-frown-o"></span></div>
      <div translate="pillars.no-data"></div>
      <div translate="pillars.no-data-contact"></div>
    </div>
  }
}
