<ng-container *ngIf="(pillars$ | async) as pillars">
  <ul *ngIf="pillars.length > 0; else noPillar" class="list-unstyled pillar">
    <li *ngFor="let pillar of pillars">
      <span class="pillar-name">{{ pillar.name }}</span>
      <ul class="list-unstyled source">
        <li *ngFor="let databaseSource of pillar.databaseSources">
          <dd-document-count [name]="databaseSource.name"
                               [url]="databaseSource.url"
                               [count]="databaseSource.documentCount">
          </dd-document-count>
        </li>
      </ul>
    </li>
  </ul>
  <ng-template #noPillar>
    <div class="alert alert-warning" role="alert">
      <div class="text-center" style="font-size: 6em;"><span class="fa fa-frown-o"></span></div>
      <div>
        No data found.<br/>
        Please, contact the administrator for him to feed the database.
      </div>
    </div>
  </ng-template>
</ng-container>
