version: 2.1 # use CircleCI 2.1
orbs:
  browser-tools: circleci/browser-tools@2.3.2
jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point

    working_directory: ~/data-discovery # directory where steps will run

    docker: # run the steps with Docker
      - image: cimg/openjdk:17.0-browsers # ...with this image as the primary container; this is where all `steps` will run
      - image: docker.elastic.co/elasticsearch/elasticsearch:7.17.29
        name: elasticsearch
        environment:
          transport.host: localhost
          network.host: elasticsearch
          http.port: 9200
          cluster.name: es-cluster
          discovery.type: single-node
          xpack.security.enabled: false
          ES_JAVA_OPTS: -Xms750m -Xmx750m

    # avoid to checkout LFS files
    environment:
      - GIT_LFS_SKIP_SMUDGE: 1

    steps: # a collection of executable commands
      - browser-tools/install_chrome
      - browser-tools/install_firefox
      # check out source code to working directory
      - checkout
      - run: ./gradlew check build
      - run: ./gradlew :frontend:assemble -Papp=wheatis
      - run: ./gradlew :frontend:assemble -Papp=brc4env
      - run: ./gradlew :frontend:assemble -Papp=faidare
