<div class="basket-counter navbar-text" *ngIf="isEnabled && itemCounter === 0">
  <span class="fa fa-fw fa-shopping-basket"></span>&ngsp;
  <span class="badge badge-pill badge-light">0</span>
</div>
<button
  class="basket-counter btn"
  *ngIf="isEnabled && itemCounter"
  [ngbTooltip]="buttonTooltip"
  (click)="viewItems(basketModal)"
>
  <span class="fa fa-fw fa-shopping-basket"></span>&ngsp;
  <span class="badge badge-pill badge-light">{{ itemCounter | number }}</span>
</button>

<ng-template #buttonTooltip>
  <ng-container [ngPlural]="itemCounter">
    <ng-template ngPluralCase="=1">
      <span translate="rare-basket.one-item"></span>
    </ng-template>
    <ng-template ngPluralCase="other">
      <span
        translate="rare-basket.several-items"
        [translateParams]="{ itemCounter: itemCounter | number }"
      ></span>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #basketModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" translate="rare-basket.modal-title"></h4>
    <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="basket && basket.items.length > 0; else emptyBasket">
      <div *ngFor="let item of basket.items" class="d-flex align-items-center">
        <span class="flex-grow-1"
          >{{ item.accession.name }}&ngsp;<small class="text-muted">{{
            item.accession.identifier
          }}</small></span
        >&ngsp;
        <button
          type="button"
          class="btn btn-outline-danger delete-btn"
          (click)="removeItemFromBasket(item.accession.identifier)"
        >
          <span class="fa fa-fw fa-trash"></span>
        </button>
      </div>
      <div class="mt-2">
        <div class="border rounded p-2 bg-light small">
          <div>
            <span translate="rare-basket.eula-beginning"></span>&ngsp;
            <a href="./eula" target="_blank" translate="rare-basket.eula-link"></a>&ngsp;
            <span translate="rare-basket.eula-end"></span>
          </div>
          <div class="form-group form-check mb-0">
            <input
              [formControl]="eulaAgreementControl"
              type="checkbox"
              class="form-check-input"
              id="eula-agreement"
            />
            <label
              class="form-check-label"
              for="eula-agreement"
              translate="rare-basket.eula-agreement"
            ></label>
            <div
              *ngIf="eulaAgreementControl.invalid && submitted"
              class="invalid-feedback d-block"
              id="eula-agreement-error"
            >
              <span translate="rare-basket.eula-agreement-required"></span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyBasket>
      <p translate="rare-basket.no-accession"></p>
    </ng-template>
  </div>
  <div class="modal-footer" *ngIf="basket && basket.items.length > 0">
    <button
      type="button"
      id="send-basket"
      class="btn btn-outline-dark"
      [class.confirm-forbidden]="confirmForbidden"
      (click)="sendBasket(modal)"
      translate="rare-basket.complete-order"
    ></button>
    <button
      type="button"
      id="clear-basket"
      class="btn btn-outline-danger"
      (click)="clearBasket()"
      translate="rare-basket.clear-basket"
    ></button>
  </div>
</ng-template>
