<ng-template #resultTemplate let-bucket="result" let-t="term">
  <ngb-highlight [result]="bucket.key" [term]="t"></ngb-highlight>
  <small class="ml-1">[{{ bucket.documentCount | number }}]</small>
</ng-template>

<div class="card mb-1" *ngIf="aggregation.buckets.length">
  <div class="card-body">

    <!-- title -->
    <h3 class="card-title">{{ aggregation.name | aggregationName }}
      <small class="text-muted ml-1">({{ aggregation.buckets.length | number }})</small>
    </h3>

    <!-- values as pills and a typeahead to add them -->
    <div class="mb-2">
      <span class="badge badge-pill badge-secondary mr-1" *ngFor="let key of selectedKeys" tabindex="0"
            (keydown.backspace)="removeKey(key)">
        <rare-document-count [name]="key" [count]="documentCountForKey(key)" [muted]="false"></rare-document-count>
        <button tabindex="-1" type="button" class="btn btn-link" (click)="removeKey(key)">&times;</button>
      </span>
    </div>
    <input class="form-control" [formControl]="criterion" [ngbTypeahead]="search"
           (selectItem)="selectKey($event)" [resultTemplate]="resultTemplate"/>
  </div>
</div>



