<ng-template #resultTemplate let-bucket="result" let-t="term">
  <ng-container *ngIf="bucket !== 'REFINE'; else refine">
    <ngb-highlight [result]="displayableKey(bucket.key)" [term]="t"></ngb-highlight>
    <small class="ml-1 text-muted">[{{ bucket.documentCount | number }}]</small>
  </ng-container>
  <ng-template #refine>
    <div class="text-muted small">
      <div translate="large-aggregation.other-results-available"></div>
      <div translate="large-aggregation.refine-search"></div>
    </div>
  </ng-template>
</ng-template>

<div class="card mb-1" *ngIf="aggregation.buckets.length">
  <div class="card-body">
    <!-- title -->
    <!-- tooltip precising what is the number displayed -->
    <ng-template #tooltipContent>
      <ng-container [ngPlural]="aggregation.buckets.length">
        <ng-template ngPluralCase="=1">
          <span translate="large-aggregation.only-one-value"></span>&ngsp;
          <i>{{ aggregation.name | aggregationName }}</i>
        </ng-template>
        <ng-template ngPluralCase="other">
          <span
            translate="large-aggregation.several-values"
            [translateParams]="{ count: aggregation.buckets.length | number }"
          ></span
          >&ngsp;
          <i>{{ aggregation.name | aggregationName }}</i>
        </ng-template>
      </ng-container>
    </ng-template>
    <h3 class="card-title">
      {{ aggregation.name | aggregationName }}
      <small class="text-muted ml-1" [ngbTooltip]="tooltipContent" placement="top" container="body"
        >({{ aggregation.buckets.length | number }})</small
      >
    </h3>

    <!-- values as pills and a typeahead to add them -->
    <div class="mb-2">
      <span
        class="badge badge-pill badge-secondary mr-1"
        *ngFor="let key of selectedKeys"
        tabindex="0"
        (keydown.backspace)="removeKey(key)"
      >
        <dd-document-count
          [name]="displayableKey(key)"
          [count]="documentCountForKey(key)"
          [muted]="false"
        ></dd-document-count>
        <button tabindex="-1" type="button" class="btn btn-link" (click)="removeKey(key)">
          &times;
        </button>
      </span>
    </div>
    <input
      #typeahead
      class="form-control"
      [formControl]="criterion"
      [ngbTypeahead]="search"
      (selectItem)="selectKey($event)"
      [resultTemplate]="resultTemplate"
      container="body"
      placeholder="{{ 'large-aggregation.filter-on' | translate }} {{
        aggregation.name.toLowerCase() | aggregationName
      }}..."
      (focus)="focus$.next($any($event.target).value)"
    />
  </div>

  <div *ngIf="aggregation.name === 'annot'">
    <dd-descendants-checkbox
      (searchDescendantsChange)="onSearchDescendants($event)"
      [searchDescendants]="searchDescendants"
    ></dd-descendants-checkbox>
  </div>
</div>
