@if (descriptionCollapsed()) {
  <div class="description">
    <span class="highlight" [innerHTML]="truncatedDescription()"></span>
    @if (truncatedDescription() !== description()) {
      <button
        class="btn btn-link btn-inline"
        (click)="toggleDescription()"
        translate="truncatable-description.expand"
      ></button>
    }
  </div>
} @else {
  <div class="full-description">
    <button
      class="btn btn-link btn-inline"
      (click)="toggleDescription()"
      translate="truncatable-description.hide"
    ></button>
    <br />
    <span class="highlight" [innerHTML]="description()"></span>
    <button
      class="btn btn-link btn-inline"
      (click)="toggleDescription()"
      translate="truncatable-description.hide"
    ></button>
  </div>
}
