<div class="description" *ngIf="descriptionCollapsed; else expandedDescription">
  <span class="highlight" [innerHTML]="truncatedDescription"></span>
  <button class="btn btn-link btn-inline" (click)="toggleDescription()" *ngIf="truncatedDescription !== description">... (Expand)</button>
</div>
<ng-template #expandedDescription>
  <div class="full-description">
    <button class="btn btn-link btn-inline" (click)="toggleDescription()">Hide</button>
    <span class="highlight" [innerHTML]="description"></span>
    <button class="btn btn-link btn-inline" (click)="toggleDescription()">Hide</button>
  </div>
</ng-template>
