@if (vm(); as vm) {
  <h1 class="visually-hidden" translate="search.title"></h1>

  <div class="row">
    <div class="col-12 col-md-8 offset-md-4 col-lg-9 offset-lg-3 d-flex align-items-center">
      <h2 class="visually-hidden" translate="search.new-search"></h2>
      <form class="flex-fill" [formGroup]="searchForm" (ngSubmit)="newSearch()">
        <label class="visually-hidden" for="query" translate="search.search"></label>
        <div class="input-group">
          <input
            id="query"
            class="form-control"
            [placeholder]="appName + '.search.placeholder' | translate"
            formControlName="search"
            [ngbTypeahead]="suggesterTypeahead"
            [focusFirst]="false"
          />
          <button class="btn btn-outline-secondary" translate="search.search"></button>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-3 mb-3 d-md-none">
    <button class="btn btn-outline-secondary filter-toggler" (click)="toggleFilters()">
      <i class="fa fa-sliders" aria-hidden="true"></i>&ngsp;{{ 'search.filters' | translate }}&ngsp;
      <i
        class="fa"
        [class.fa-caret-up]="vm.filtersExpanded"
        [class.fa-caret-down]="!vm.filtersExpanded"
        aria-hidden="true"
      ></i>
    </button>
  </div>
  <div class="row mt-sm-2 mt-md-5">
    <!-- aggregation are collapsed on small screens in a "Filters" button  -->
    <!-- note the `collapse-md` class below, which is not a standard Bootstrap class -->
    <!-- `collapse-md` is used in the CSS of the component to always show the aggregations when on desktop (md screen and larger) -->
    <!-- even if `filtersExpanded` is false -->
    <div class="col-12 col-md-4 col-lg-3 filters collapse-md" [ngbCollapse]="!vm.filtersExpanded">
      <h2 class="visually-hidden" translate="search.filters">Filters</h2>
      <dd-aggregations
        [aggregations]="vm.aggregations"
        [searchDescendants]="vm.searchCriteria.descendants"
        [loading]="vm.aggregationsLoading"
        [disabledAggregationName]="vm.disabledAggregationName"
        [selectedCriteria]="vm.searchCriteria.aggregationCriteria"
        (aggregationsChange)="updateSearchWithAggregation($event)"
        (searchDescendantsChange)="updateSearchWithDescendants($event)"
      />
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <!-- Loading skeleton aka PleaseWaitWidget -->
      <div class="text-center">
        <dd-loading-skeleton [loading]="vm.documentsLoading" />
      </div>

      @if (!vm.documentsLoading) {
        <div>
          <h2 class="visually-hidden" translate="search.results"></h2>
          <div>
            <dd-documents />
          </div>

          @if (vm.documents && vm.documents.totalPages > 1) {
            <div class="d-flex justify-content-center mt-5">
              <h2 class="visually-hidden" translate="search.paging"></h2>
              <!-- we add 1 to the page because ngb-pagination is 1 based -->
              <ngb-pagination
                [page]="vm.documents.number + 1"
                (pageChange)="navigateToPage($event)"
                [collectionSize]="vm.collectionSize"
                [pageSize]="vm.documents.size"
                [maxSize]="5"
                [boundaryLinks]="true"
                [ellipses]="false"
                size="sm"
              />
            </div>
          }
        </div>
      }
    </div>
  </div>
}
