<div class="mt-2">
  <form class="input-group" [formGroup]="searchForm" (ngSubmit)="newSearch()">
    <input class="form-control" type="text"
           placeholder="Exemples: canis lupus, levure fromage"
           formControlName="search">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Recherche</button>
    </div>
  </form>
</div>
<!-- results -->
<div class="mt-5">
  <rare-genetic-resources [geneticResources]="results"></rare-genetic-resources>
</div>
<!-- pagination -->
<div class="d-flex justify-content-center mt-5" *ngIf="results && results.totalPages > 1">
  <!-- we add 1 to the page because ngb-pagination is 1 based -->
  <ngb-pagination *ngIf="results" [page]="results.number + 1" (pageChange)="navigateToPage($event)"
                  [collectionSize]="results.totalElements"
                  [pageSize]="results.size"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  [ellipses]="false"
                  size="sm">
  </ngb-pagination>
</div>
