<div class="modal-header">
  <h4 class="modal-title" translate="faidare.ontology-aggregation-modal.title"></h4>
  <button
    type="button"
    class="close"
    [attr.aria-label]="'faidare.ontology-aggregation-modal.close' | translate"
    (click)="cancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template #payloadTemplate let-node="node">
    {{ node.text }}
    <dd-ontology-node-type [type]="node.payload.type"></dd-ontology-node-type>
  </ng-template>
  <div class="content" *ngIf="treeView$ | async as treeView">
    <div class="tree-section">
      <div class="form-row">
        <div class="col col-md-8">
          <div class="form-group">
            <label
              class="sr-only"
              for="tree-filter"
              translate="faidare.ontology-aggregation-modal.filter"
            ></label>
            <input
              [formControl]="treeFilterCtrl"
              id="tree-filter"
              class="form-control"
              [placeholder]="'faidare.ontology-aggregation-modal.filter' | translate"
              type="search"
            />
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label
              class="sr-only"
              for="language"
              translate="faidare.ontology-aggregation-modal.language"
            ></label>
            <select [formControl]="languageCtrl" id="language" class="custom-select">
              <option
                *ngFor="let language of languages"
                [ngValue]="language"
                [translate]="'faidare.ontology-language.' + language"
              ></option>
            </select>
          </div>
        </div>
      </div>

      <div class="border rounded p-1 tree">
        <dd-tree
          [filter]="treeView.filter"
          [rootNodes]="treeView.tree"
          [payloadTemplate]="payloadTemplate"
          [textAccessor]="treeView.textAccessor"
          (highlightedNode)="highlightNode($event)"
          (selectedNodes)="selectedNodes = $event"
        ></dd-tree>
      </div>
    </div>
    <div class="details-section">
      <dd-node-details
        *ngIf="highlightedNodeDetails$ | async as highlightedNodeDetails"
        [node]="highlightedNodeDetails"
      ></dd-node-details>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    id="ok-button"
    type="button"
    class="btn btn-primary mr-1"
    (click)="ok()"
    translate="faidare.ontology-aggregation-modal.ok"
  ></button>
  <button
    id="cancel-button"
    type="button"
    class="btn btn-danger"
    (click)="cancel()"
    translate="faidare.ontology-aggregation-modal.cancel"
  ></button>
</div>
