@import 'theme';

.error {
  position: fixed;
  top: 40px;
  right: 20px;
  width: 400px;
  max-width: 90vw;
  z-index: 10;
  @include box-shadow($box-shadow);
}

#error-message {
  word-break: break-all;
}
