@if (error$ | async; as error) {
  <div class="error alert alert-warning">
    <div class="d-flex">
      <div class="me-3" style="font-size: 3em">
        <span class="fa fa-frown-o"></span>
      </div>
      <div>
        <p translate="error.title"></p>
        <p translate="error.retry"></p>
        @if (error.status) {
          <small
            id="error-status"
            translate="error.status"
            [translateParams]="{ status: error.status }"
          >
          </small>
        }
        &ngsp;
        @if (error.message) {
          <small
            id="error-message"
            translate="error.message"
            [translateParams]="{ message: error.message }"
          ></small>
        }
      </div>
    </div>
  </div>
}
