<div>
  <h3>
    <a class="main-link name" [href]="geneticResource.dataURL ? geneticResource.dataURL : geneticResource.portalURL">
      {{ geneticResource.name }}
    </a>
    <small> - {{ geneticResource.pillarName }}</small>
  </h3>
  <div>
    <span class="mr-4">
      <a class="datasource-link" [href]="geneticResource.portalURL">{{ geneticResource.databaseSource }}</a>
    </span>
    <span class="taxon mr-4">
      <span *ngFor="let taxon of geneticResource.taxon" class="badge badge-secondary mr-2">{{ taxon }}</span>
    </span>
    <span class="type">
      {{ geneticResource.materialType?.join(', ') }}
    </span>
  </div>
  <div>
    <div class="description" *ngIf="descriptionCollapsed; else expandedDescription">
      <span class="highlight" [innerHTML]="truncatedDescription"></span>
      <button class="btn btn-link btn-inline" (click)="toggleDescription()" *ngIf="truncatedDescription !== geneticResource.description">... (Voir tout)</button>
    </div>
    <ng-template #expandedDescription>
      <div class="full-description">
        <span class="highlight" [innerHTML]="geneticResource.description"></span>
        <button class="btn btn-link btn-inline" (click)="toggleDescription()">Réduire</button>
      </div>
    </ng-template>
  </div>
</div>
