<nav class="navbar navbar-expand-md navbar-dark py-0">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center p-2 px" [href]="navbar.logoUrl">
      <img
        src="assets/logo.png"
        [alt]="appName + '.navbar.title' | translate"
        [title]="appName + '.navbar.title' | translate"
        height="56px"
      />
    </a>
    <a
      class="navbar-brand d-flex align-items-center p-2 px"
      [href]="navbar.secondLogoUrl"
      *ngIf="hasSecondLogo()"
    >
      <img
        src="assets/logo-2.png"
        [alt]="appName + '.navbar.secondTitle' | translate"
        [title]="appName + '.navbar.secondTitle' | translate"
        height="56px"
      />
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="fa fa-bars"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let link of navbar.links">
          <li class="nav-item" *ngIf="!link.subMenu">
            <a
              class="nav-link d-flex align-items-center"
              [href]="link.url"
              [title]="appName + '.navbar.links.' + link.label | translate"
              [translate]="appName + '.navbar.links.' + link.label"
            ></a>
          </li>
          <li class="nav-item" *ngIf="link.subMenu" ngbDropdown>
            <a
              ngbDropdownToggle
              class="nav-link d-flex align-items-center"
              tabindex="0"
              role="button"
              [id]="'navbar-menu-' + link.label"
              [translate]="appName + '.navbar.links.' + link.label"
            >
            </a>
            <div ngbDropdownMenu [attr.aria-labelledby]="'navbar-menu-' + link.label">
              <a
                *ngFor="let subItem of link.subMenu"
                class="dropdown-item"
                [href]="subItem.url"
                [translate]="appName + '.navbar.links.' + subItem.label"
              >
              </a>
            </div>
          </li>
        </ng-container>
        <li class="nav-item" ngbDropdown>
          <a
            ngbDropdownToggle
            class="nav-link d-flex align-items-center"
            tabindex="0"
            role="button"
            id="navbar-menu-more"
            translate="navbar.more"
          ></a>
          <div ngbDropdownMenu aria-lebelledby="navbar-menu-more">
            <a class="dropdown-item" routerLink="/about" translate="navbar.about"></a>
            <a class="dropdown-item" routerLink="/join" translate="navbar.join-us"></a>
            <a class="dropdown-item" routerLink="/legal" translate="navbar.legal-mentions"></a>
            <a class="dropdown-item" routerLink="/help" translate="navbar.help"></a>
            <a class="dropdown-item" routerLink="/news" translate="navbar.news"></a>
          </div>
        </li>
      </ul>
      <dd-basket>
        <!-- This is an actual Basket in RARe and Faidare, and nothing in the other apps -->
      </dd-basket>
    </div>
  </div>
</nav>
