<nav class="navbar navbar-expand-lg py-0" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center p-2 px" [href]="navbar.logoUrl">
      <img
        src="assets/logo.png"
        [alt]="appName + '.navbar.title' | translate"
        [title]="appName + '.navbar.title' | translate"
        height="56px"
      />
    </a>
    @if (hasSecondLogo()) {
      <a class="navbar-brand d-flex align-items-center p-2 px" [href]="navbar.secondLogoUrl">
        <img
          src="assets/logo-2.png"
          [alt]="appName + '.navbar.secondTitle' | translate"
          [title]="appName + '.navbar.secondTitle' | translate"
          height="56px"
        />
      </a>
    }

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="fa fa-bars"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed()">
      <ul class="navbar-nav me-auto">
        @if (appName === 'faidare') {
          <li class="nav-item">
            <a
              class="nav-link d-flex align-items-center"
              routerLink="/ontology"
              translate="navbar.ontology"
            ></a>
          </li>
        }
        @for (link of navbar.links; track link) {
          @if (link.subMenu) {
            <li class="nav-item" ngbDropdown>
              <a
                ngbDropdownToggle
                class="nav-link d-flex align-items-center"
                tabindex="0"
                role="button"
                [id]="'navbar-menu-' + link.label"
                [translate]="appName + '.navbar.links.' + link.label"
              >
              </a>
              <div ngbDropdownMenu [attr.aria-labelledby]="'navbar-menu-' + link.label">
                @for (subItem of link.subMenu; track subItem) {
                  <a
                    class="dropdown-item"
                    [href]="subItem.url"
                    [translate]="appName + '.navbar.links.' + subItem.label"
                  >
                  </a>
                }
              </div>
            </li>
          } @else {
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center"
                [href]="link.url"
                [title]="appName + '.navbar.links.' + link.label | translate"
                [translate]="appName + '.navbar.links.' + link.label"
              ></a>
            </li>
          }
        }
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/about"
            translate="navbar.about"
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/join"
            translate="navbar.join-us"
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/legal"
            translate="navbar.legal-mentions"
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/help"
            translate="navbar.help"
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/news"
            translate="navbar.news"
          ></a>
        </li>
      </ul>
      <dd-basket />
    </div>
  </div>
</nav>
