<nav class="navbar navbar-expand-md navbar-dark py-0">
  <div class="container px-0">
    <a class="navbar-brand d-flex align-items-center mr-0 px" href="{{ navbar.logoUrl }}">
      <img src="assets/logo.png" alt="Logo" title="Logo with {{ navbar.title }} link" height="56px"/>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="fa fa-bars"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of navbar.links">
          <div *ngIf="!$any(link).subMenu" >
            <a class="nav-link d-flex align-items-center" [href]="link.url" title="{{ link.label }} link" target="_blank">{{ link.label }}</a>
          </div>
          <div *ngIf="$any(link).subMenu">
            <!-- Dropdown -->
            <div ngbDropdown class="d-inline-block dropdown">
              <a ngbDropdownToggle class="nav-link d-flex align-items-center" title="{{ link.label }} link" [href]="link.url">{{ link.label }}</a>
              <div ngbDropdownMenu class="dropdown-menu">
                <div *ngFor="let subItem of $any(link).subMenu">
                  <a class="dropdown-item" href="{{ subItem.url }}" title="{{ subItem.label }} link" target="_blank">{{ subItem.label }}</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block dropdown">
            <span ngbDropdownToggle class="nav-link d-flex align-items-center" translate="navbar.more"></span>
            <div ngbDropdownMenu class="dropdown-menu">
              <!-- About link -->
              <a class="dropdown-item" routerLink="/about" routerLinkActive="true" translate="navbar.about"></a>
              <!-- Join link -->
              <a class="dropdown-item" routerLink="/join" routerLinkActive="true" translate="navbar.join-us"></a>
              <!-- Legal mentions link -->
              <a class="dropdown-item" routerLink="/legal" routerLinkActive="true" translate="navbar.legal-mentions"></a>
              <!-- Help link -->
              <a class="dropdown-item" routerLink="/help" routerLinkActive="true" translate="navbar.help"></a>
              <!-- News link -->
              <a class="dropdown-item" routerLink="/news" routerLinkActive="true" translate="navbar.news"></a>
            </div>
          </div>
        </li>
      </ul>
      <div class="navbar-rare-basket">
        <!-- This is the component RareBasket in RARe, and nothing in the other apps -->
      </div>
    </div>
  </div>
</nav>
