<div>
  <h3>
    <a class="main-link name" [href]="document.url" target="_blank">
      {{ document.name }}
    </a>
    <small> - {{ document.databaseName }}</small>
  </h3>
  <div>
    <span class="type mr-4">{{ document.entryType }}</span>
    <span class="species mr-4">
      <span *ngFor="let s of document.species" class="badge badge-secondary mr-2">{{ s }}</span>
    </span>
  </div>
  <div>
    <dd-truncatable-description [description]="document.description"></dd-truncatable-description>
  </div>
</div>
