$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';
@import 'theme';
@import 'custom-bootstrap';

.highlight em {
  font-style: normal;
  font-weight: bold;
}

.dropdown-item.active {
  .text-muted {
    color: $white !important;
  }
}

.dropdown-menu {
  background-color: $theme-navbar-bg-color;
}

.dropdown-item {
  color: $theme-navbar-color !important;
  background-color: $theme-navbar-bg-color;
  &:hover {
    color: $theme-navbar-hover-color !important;
    background-color: $theme-navbar-hover-bg-color;
  }
}

.btn-outline-secondary {
  color: $theme-btn-color;
  background-color: $theme-btn-bg-color;
  border-color: $theme-btn-border-color;
  &:hover {
    color: $theme-btn-hover-color;
    background-color: $theme-btn-hover-bg-color;
    border-color: $theme-btn-hover-border-color;
  }
}

th,
td {
  padding: $table-cell-padding;
  border: $table-border-width solid $table-border-color;
}

thead th {
  background-color: $table-head-bg;
  border-bottom: (2 * $table-border-width) solid $table-border-color;
}

h1 {
  border-bottom: $theme-h1-bottom-width solid $theme-border-color;
}

h2 {
  border-bottom: 3px solid $theme-border-color;
}

h3 {
  font-style: italic;
}

blockquote {
  border-left-color: $_theme-secondary-color;
  border-left-style: solid;
  border-left-width: 4px;
  box-sizing: border-box;
  color: grey;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}
