$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';
@import 'theme';
@import 'custom-bootstrap';

.highlight em {
  font-style: normal;
  font-weight: bold;
}

.dropdown-item.active {
  .text-muted {
    color: $white !important;
  }
}

.btn-outline-secondary {
  color: $theme-btn-color;
  background-color: $theme-btn-bg-color;
  border-color: $theme-btn-border-color;
  &:hover {
    color: $theme-btn-hover-color;
    background-color: $theme-btn-hover-bg-color;
    border-color: $theme-btn-hover-border-color;
  }
}
