@let node = this.node();
<div class="text-nowrap d-inline node">
  @if (node.hasVisibleChildren) {
    <span
      class="expand fa fa-fw fa-chevron-right me-1"
      role="button"
      tabindex="0"
      (click)="toggleExpanded()"
      [class.expanded]="node.expanded || node.expandedForced"
      [attr.aria-label]="
        `faidare.node.${node.expanded || node.expandedForced ? 'collapse' : 'expand'}`
          | translate: { name: node.text }
      "
    ></span>
  }

  <div
    class="me-1"
    [class.form-check]="selectionVisible()"
    [class.form-check-inline]="selectionVisible()"
    [class.d-inline]="!selectionVisible()"
  >
    @if (selectionVisible()) {
      <input
        #selection
        type="checkbox"
        class="form-check-input"
        [indeterminate]="node.selectionState === 'INDETERMINATE'"
        [checked]="node.selectionState === 'CHECKED'"
        (change)="toggleSelection(selection.checked)"
        [id]="node.id"
      />
      <label [for]="node.id" class="form-check-label">
        <span class="visually-hidden">{{ node.text }}</span>
      </label>
    }
    <span
      class="node-payload"
      [class.matching]="node.matchingFilter"
      [class.highlighted]="node.id === highlightedNodeId()"
      role="button"
      tabindex="0"
      (click)="highlight()"
    >
      @if (payloadTemplate(); as payloadTemplate) {
        <ng-container *ngTemplateOutlet="payloadTemplate; context: { node: node }" />
      } @else {
        {{ node.text }}
      }
    </span>
  </div>
</div>

@if (node.hasVisibleChildren && (node.expanded || node.expandedForced)) {
  <ul class="list-unstyled">
    @for (childNode of node.children; track childNode.id) {
      @if (!filtered() || childNode.matchingFilter || childNode.hasVisibleChildren) {
        <li class="ms-4">
          <dd-node
            [node]="childNode"
            [filtered]="filtered()"
            [highlightedNodeId]="highlightedNodeId()"
            [payloadTemplate]="payloadTemplate()"
            [selectionVisible]="selectionVisible()"
            [class.ms-4]="!childNode.hasVisibleChildren"
          />
        </li>
      }
    }
  </ul>
}
