<div class="text-nowrap d-inline">
  <span
    *ngIf="node.hasVisibleChildren"
    class="expand fa fa-fw fa-chevron-right me-1"
    role="button"
    tabindex="0"
    (click)="toggleExpanded()"
    [class.expanded]="node.expanded || node.expandedForced"
  ></span>

  <div class="form-check form-check-inline me-1">
    <input
      #selection
      type="checkbox"
      class="form-check-input"
      [indeterminate]="node.selectionState === 'INDETERMINATE'"
      [checked]="node.selectionState === 'CHECKED'"
      (change)="toggleSelection(selection.checked)"
      [id]="node.id"
    />
    <label [for]="node.id" class="form-check-label">
      <span class="visually-hidden">{{ node.text }}</span>
    </label>
    <span
      class="node-payload"
      [class.matching]="node.matchingFilter"
      [class.highlighted]="node.id === highlightedNodeId"
      role="button"
      tabindex="0"
      (click)="highlight()"
    >
      <ng-container *ngIf="payloadTemplate; else noPayloadTemplate">
        <ng-container *ngTemplateOutlet="payloadTemplate; context: { node: node }"></ng-container>
      </ng-container>
      <ng-template #noPayloadTemplate>{{ node.text }}</ng-template>
    </span>
  </div>
</div>

<ul class="list-unstyled" *ngIf="node.hasVisibleChildren && (node.expanded || node.expandedForced)">
  <ng-container *ngFor="let childNode of node.children; trackBy: byId">
    <li class="ms-4" *ngIf="!filtered || childNode.matchingFilter || childNode.hasVisibleChildren">
      <dd-node
        [node]="childNode"
        [filtered]="filtered"
        [highlightedNodeId]="highlightedNodeId"
        [payloadTemplate]="payloadTemplate"
        [class.ms-4]="!childNode.hasVisibleChildren"
      ></dd-node>
    </li>
  </ng-container>
</ul>
