@if (!hideAggregation) {
  <div class="card mb-1">
    <div class="card-body">
      <!-- title -->
      <h3 class="card-title" [class.text-body-secondary]="aggregationForm.disabled">
        {{ aggregation.name | aggregationName }}
        @if (aggregation.name === 'gl') {
          <span
            class="ms-1 fa fa-question-circle-o icon-size"
            aria-hidden="true"
            [ngbTooltip]="'faidare.agregation-gl-tooltip' | translate"
            placement="top"
          ></span>
        }
      </h3>

      <!-- values -->
      <form [formGroup]="aggregationForm">
        @for (bucket of aggregation.buckets; track bucket) {
          <div class="card-text">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [id]="aggregation.name + bucket.key"
                [formControlName]="bucket.key"
                (change)="onChange()"
              />
              <label class="form-check-label" [for]="aggregation.name + bucket.key">
                <dd-document-count
                  [name]="displayableKey(bucket.key)"
                  [count]="bucket.documentCount"
                />
              </label>
            </div>
          </div>
        }
      </form>

      @if (aggregation.name === 'annot') {
        <div class="mt-2">
          <dd-descendants-checkbox
            (searchDescendantsChange)="onSearchDescendants($event)"
            [searchDescendants]="searchDescendants"
          />
        </div>
      }
    </div>
  </div>
}
