// non-public variables used in this theme only
$_theme-primary-color: #48ab3d;
$_theme-primary-color-light: rgba(#48ab3d, 0.4);
$_theme-secondary-color: #eaeaea;

$component-active-bg: $_theme-primary-color-light;

// override default link colors
$link-color: $_theme-primary-color;
$link-hover-color: $_theme-primary-color;

// override default shadows behavior
$enable-shadows: true;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// custom button
$theme-btn-color: $white;
$theme-btn-bg-color: $_theme-primary-color-light;
$theme-btn-border-color: $_theme-primary-color-light;
$theme-btn-hover-color: $white;
$theme-btn-hover-bg-color: $_theme-primary-color;
$theme-btn-hover-border-color: $_theme-primary-color;

// custom navbar
$theme-navbar-height: 4rem;
$theme-navbar-color: $black;
$theme-navbar-bg-color: $_theme-secondary-color;
$theme-navbar-hover-color: $white;
$theme-navbar-hover-bg-color: $_theme-primary-color-light;

// override default table
$table-border-color: $_theme-primary-color;
$table-border-width: 1px;
$table-bg: $_theme-secondary-color;
$table-head-bg: $_theme-primary-color-light;
$theme-border-color: $_theme-primary-color-light;
$headings-margin-bottom: 1rem;

// custom
$theme-h1-bottom-width: 5px;
