@if (vm$ | async; as vm) {
  @if (vm.documents.content.length) {
    <!-- if there are results to display -->
    <div>
      <div class="d-flex align-items-center mb-3">
        <div id="resume" class="text-body-secondary small flex-grow-1">
          <span
            translate="documents.results-range"
            [translateParams]="{
              first: vm.firstResultIndex | number,
              last: vm.lastResultIndex | number,
              total: vm.documents.totalElements | number
            }"
          >
          </span>
          @if (vm.resultLimited) {
            &ngsp;
            <span
              translate="documents.results-limited"
              [translateParams]="{ total: vm.documents.maxResults | number }"
            ></span>
          }
        </div>
        @if (isBasketEnabled) {
          <div class="select-all-rare-basket">
            <!-- the following component will not be the same depending on the environment.resourceModule value -->
            <!-- for example, if the application is Rare it will be a `SelectAllResultsComponent` -->
            <!-- For others it will be an empty component -->
            <!-- As Ivy has a stricter type checking, we need to cast the documents as any -->
            <dd-select-all-results [documents]="$any(vm.documents)" />
          </div>
        }
      </div>
      <dd-document-list />
    </div>
  } @else {
    <!-- else we display a simple message -->
    <div id="no-results" class="text-center">
      <div class="no-result-icon">
        <span class="fa fa-meh-o"></span>
      </div>
      No result.
    </div>
  }
}
