<!-- if there are results to display -->
<div *ngIf="documents.content.length; else noResults">
  <div id="resume" class="text-muted small mb-3">
    <span translate="documents.results-range"
          [translateParams]="{ first: firstResultIndex | number, last: lastResultIndex | number, total: documents.totalElements | number }">
    </span>
    <ng-container *ngIf="resultLimited">
      &ngsp;
      <span translate="documents.results-limited" [translateParams]="{ total: documents.maxResults | number }"></span>
    </ng-container>
  </div>
  <div class="mb-4" *ngFor="let document of documents.content">
    <!-- the following component will not be the same depending on the environment.resourceModule value -->
    <!-- for example, if the module is `RareModule` it will be a `RareDocumentComponent` -->
    <!-- As Ivy has a stricter type checking, we need to cast the document as any -->
    <dd-document [document]="$any(document)"></dd-document>
  </div>
</div>
<!-- else we display a simple message -->
<ng-template #noResults>
  <div id="no-results" class="text-center">
    <div class="no-result-icon">
      <span class="fa fa-meh-o"></span>
    </div>
    No result.
  </div>
</ng-template>
