<!-- Loading skeleton aka PleaseWaitWidget -->
<div class="text-center">
  <dd-loading-skeleton [loading]="loading" [aggregationStyle]="true" />
</div>
@if (aggregations?.length && !loading) {
  <div>
    @for (aggregation of aggregations; track aggregation.name) {
      <div>
        @if (aggregation.type === 'ONTOLOGY') {
          <dd-ontology-aggregation
            [aggregation]="aggregation"
            [selectedKeys]="selectedKeysForAggregation(aggregation.name)"
            (aggregationChange)="onAggregationChange($event)"
            [disabled]="aggregation.name === disabledAggregationName"
          />
        } @else if (
          aggregation.type === 'SMALL' ||
          (aggregation.type === 'LARGE' && aggregation.buckets.length < 10)
        ) {
          <dd-small-aggregation
            [selectedKeys]="selectedKeysForAggregation(aggregation.name)"
            [aggregation]="aggregation"
            (aggregationChange)="onAggregationChange($event)"
            [searchDescendants]="searchDescendants"
            (searchDescendantsChange)="onSearchDescendantChange($event)"
            [disabled]="aggregation.name === disabledAggregationName"
          />
        } @else {
          <!-- we display an input with autocomplete if there are usually many options, like for the taxon,
    and more than 10 options for this search -->
          <dd-large-aggregation
            [selectedKeys]="selectedKeysForAggregation(aggregation.name)"
            [aggregation]="aggregation"
            (aggregationChange)="onAggregationChange($event)"
            [searchDescendants]="searchDescendants"
            (searchDescendantsChange)="onSearchDescendantChange($event)"
            [disabled]="aggregation.name === disabledAggregationName"
          />
        }
      </div>
    }
  </div>
}
