<!-- if there are results to display -->
<div *ngIf="geneticResources.content.length; else noResults">
  <div id="resume" class="text-muted small mb-3">
    Résultats {{ firstResultIndex | number }} à {{ lastResultIndex | number }}
    sur {{ geneticResources.totalElements | number }}
    <ng-container *ngIf="resultLimited">(limités à {{ geneticResources.maxResults | number }})</ng-container>
  </div>
  <div class="mb-4" *ngFor="let geneticResource of geneticResources.content">
    <!-- the following component will not be the same depending on the environment.resourceModule value -->
    <!-- for example, if the module is `RareModule` it will be a `RareGeneticResourceComponent` -->
    <dd-genetic-resource [geneticResource]="geneticResource"></dd-genetic-resource>
  </div>
</div>
<!-- else we display a simple message -->
<ng-template #noResults>
  <div id="no-results" class="text-center">
    <div class="no-result-icon">
      <span class="fa fa-meh-o"></span>
    </div>
    Pas de résultat.
  </div>
</ng-template>
