// override default shadows behavior
$enable-shadows: true;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// custom button
$theme-btn-color: $black;
$theme-btn-bg-color: #f7f7f4;
$theme-btn-border-color: #ced4da;
$theme-btn-hover-color: $white;
$theme-btn-hover-bg-color: #ced4da;
$theme-btn-hover-border-color: #ced4da;

// custom navbar
$theme-navbar-height: 4rem;
$theme-navbar-color: $navbar-light-color;
$theme-navbar-bg-color: #3f8b00;
$theme-navbar-hover-color: $navbar-light-hover-color;
$theme-navbar-hover-bg-color: #f7f7f4;
